.title {
    text-align: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    display: block;
    margin-bottom: 10px;
}

#name, #grade, #search {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

button {
    width: 100%;
    margin-bottom: 10px;
}

.table {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}
